version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:80"
    environment:
      - DB_HOST=db
      - DB_NAME=caceria
      - DB_USER=caceria_user
      - DB_PASS=caceria_password
    depends_on:
      - db
    volumes:
      - .:/var/www/html

  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      - MYSQL_DATABASE=caceria
      - MYSQL_USER=caceria_user
      - MYSQL_PASSWORD=caceria_password
      - MYSQL_ROOT_PASSWORD=root_password
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/1_schema.sql
      - ./sql/create_admins_table.sql:/docker-entrypoint-initdb.d/2_admins.sql

volumes:
  db_data:
